// Variables will Follow

//Colors
$body-background-color: #26171A;
$form-background-color: #736666;
$input-color: #F2EEE9;
$headlines-color: #F26B5E;

body {
   background-color: $body-background-color;
}