@use 'quote-box';

@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body {
   margin: 2rem;
   min-width: 380px;
}

body.dark-mode {
   background-color: #0a1229; 
   
   h1,
   p {
      color: white;
   }
}
 
i.fa-toggle-on {
   color: #F29F05;
}

p {
   font-family: "Sour Gummy", sans-serif;
   font-size: clamp(
     var(--fluid-type-min, 1rem),
     calc(1rem + var(--fluid-type-target, 3vw)),
     var(--fluid-type-max, 1.3rem)
   );
}

h1 {
   font-family: "Sour Gummy", sans-serif;
   text-align: center;
   font-size: clamp(
      var(--fluid-type-min, 4rem),
      calc(1rem + var(--fluid-type-target, 6vw)),
      var(--fluid-type-max, 6rem)
    );
}

i {
   font-size: 40px;
   position: absolute;
   top: 1rem;
   right: 1rem;
   cursor: pointer;
   color: #0a1229;
}

footer {
   text-align: center;
}

@media (max-width: 650px) {
   p {
      font-size: calc(
         0.7 * clamp(
            var(--fluid-type-min, 1rem),
            calc(1rem + var(--fluid-type-target, 3vw)),
            var(--fluid-type-max, 1.3rem)
         ));
   }

   .quote-box__quote::before {
      --quoteSize: 60px;
      left: -60px
   }
}