@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --heading-font: "Rokkitt", serif;
  --paragraph-font: "Montserrat", sans-serif;
  --icon-text-color: #202121;
  --icon-hover-background: #e1ebc5;
  --icon-gray-hover-background: rgba(0, 13, 13, .078);
  --special-type-color: #00365d;
  --special-background-color: #f1f9fc;
  --label-type-color: #202121;
  --box-background-color: #fff;
  --box-border-color: #202121;
  --box-placeholder-color: rgba(0, 6, 11, .463);
  --button-gray-text-color: rgba(0, 6, 11, .463);
  --button-gray-background: rgba(0, 15, 15, .133);
  --button-gray-outline-color: #9ea1a1;
  --standard-type-color: rgba(0, 3, 5, .737);
  --bold-type-color: #202121;
  --button-white-text-color: #202121;
  --button-white-hover-background-color: rgba(0, 13, 13, .078);
  --button-black-text-color: #fff;
  --button-black-background-color: #202121;
  --button-black-hover-background-color: #434547;
  --button-blue-text-color: #066f90;
  --button-hover-background: rgba(0, 149, 198, .141);
  --footer-background-color: rgba(0, 0, 0, .035);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 1rem;
  font-family: var(--paragraph-font);
}

main {
  margin: 0rem 2rem;
}

h1 {
  font-family: var(--heading-font);
  font-weight: 400;
}

header {
  margin: 1rem 0;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo img {
  margin-top: -0.8rem;
}
.logo .nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  cursor: pointer;
}
.logo .nav ul li:hover {
  padding: 0.5rem;
  background-color: var(--icon-hover-background);
  border-radius: 0.5rem;
}

.icon-navigation {
  display: flex;
  gap: 14px;
  align-items: center;
}
.icon-navigation .fa-location-dot,
.icon-navigation .fa-earth-americas,
.icon-navigation .fa-circle-question {
  color: var(--icon-text-color);
  font-size: 22px;
  cursor: pointer;
}
.icon-navigation .fa-location-dot:hover,
.icon-navigation .fa-earth-americas:hover,
.icon-navigation .fa-circle-question:hover {
  padding: 0.5rem;
  background-color: var(--icon-hover-background);
  border-radius: 100%;
}
.icon-navigation #signIn {
  text-decoration: none;
  color: var(--button-blue-text-color);
  font-size: 18px;
}
.icon-navigation #signIn:hover {
  padding: 0.5rem;
  background-color: var(--button-hover-background);
  border-radius: 0.5rem;
}
.icon-navigation button {
  color: var(--button-blue-text-color);
  border: solid 1px var(--button-blue-text-color);
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 18px;
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.icon-navigation button:hover {
  background-color: var(--button-hover-background);
  transform: scale(1.02);
}

.centered-text-container {
  display: grid;
  height: 38rem;
  background-color: var(--special-background-color);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "Text Picture" "Form Picture";
}
.centered-text-container .hero-img {
  grid-area: Picture;
}
.centered-text-container .centered-text-content {
  grid-area: Text;
  color: var(--special-type-color);
  margin: 1rem;
}
.centered-text-container .centered-text-content h1 {
  font-size: 56px;
  line-height: 0.85;
}
.centered-text-container .centered-text-content p {
  font-size: 20px;
  margin-top: 2rem;
}
.centered-text-container .form-container {
  grid-area: Form;
  margin: 1rem;
}
.centered-text-container .form-container h2 {
  color: var(--special-type-color);
}
.centered-text-container .form-container p {
  font-size: 20px;
  color: var(--special-type-color);
}
.centered-text-container .form-container form {
  margin: 1rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.centered-text-container .form-container form label {
  display: block;
  margin-bottom: 5px;
}
.centered-text-container .form-container form input {
  width: 100%;
  padding: 10px 8px;
  box-sizing: border-box;
  border-radius: 0.2rem;
  border: solid 1px var(--bold-type-color);
}
.centered-text-container .form-container form button {
  width: 50%;
  padding: 10px 8px;
  box-sizing: border-box;
  border-radius: 0.2rem;
  background-color: var(--button-gray-background);
  color: var(--button-gray-text-color);
  border: solid 1px var(--button-gray-outline-color);
}

.centered-text {
  text-align: center;
  margin: 3rem 0;
}
.centered-text a {
  color: black;
}
.centered-text h2 {
  color: var(--special-type-color);
}

.split-text-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "Text Picture";
}
.split-text-left .left-text-container {
  grid-area: Text;
  margin: 4rem;
  width: 25rem;
}
.split-text-left .right-img-container {
  grid-area: Picture;
}
.split-text-left button {
  width: 50%;
  padding: 10px 8px;
  box-sizing: border-box;
  border-radius: 0.2rem;
  margin: 1rem 0rem;
  background-color: white;
}
.split-text-left p a {
  color: black;
}

.split-text-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "Picture Text";
}
.split-text-right .left-text-container {
  grid-area: Text;
  margin: 4rem;
  width: 25rem;
}
.split-text-right .left-img-container {
  grid-area: Picture;
}
.split-text-right button {
  width: 50%;
  padding: 10px 8px;
  box-sizing: border-box;
  border-radius: 0.2rem;
  margin: 1rem 0rem;
  background-color: white;
}
.split-text-right p a {
  color: black;
}

.list-highlight-items {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0rem;
}
.list-highlight-items .list-highlight-item {
  margin: 2rem 0rem;
}
.list-highlight-items .list-highlight-item img {
  width: 200px;
  height: 200px;
}
.list-highlight-items .list-highlight-item p a {
  color: black;
}

.background-color {
  background-color: var(--special-background-color);
}
.background-color a button {
  background-color: var(--button-black-background-color);
  color: var(--button-black-text-color);
}

/*# sourceMappingURL=style.css.map */
